###
# Unity folders and files
###
game_files/ahoy/[Aa]ssets/AssetStoreTools/
game_files/ahoy/[Bb]uild/
game_files/ahoy/[Ll]ibrary/
game_files/ahoy/[Ll]ocal[Cc]ache/
game_files/ahoy/[Oo]bj/
game_files/ahoy/[Tt]emp/
game_files/ahoy/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
